{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    ["@semantic-release/exec", {
      "prepareCmd": ".rocks/bin/cartridge pack deb --version ${nextRelease.version}"
    }],
    ["@semantic-release/github", {
      "assets": [
        {"path": "./*.deb", "label": "Release (${nextRelease.gitTag})"},
      ]
    }],
  ]
}
